/*Estilo base do projeto*/
:root {
  font-size: 62.5%;

  --gray-ultra-light-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray-ultra-light-color);
}

main {
  min-height: 400px;
  padding: 0em 30em;
}

/*Estiliza o cabeçalho*/
header {
  height: 40em;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('imagens/landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header-title-menu {
  align-self: flex-start;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title-menu h1 {
  color: var(--gray-ultra-light-color);
  font-size: 10em;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}

.wave {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20em;
  overflow: visible;
}

/*Estilza o menu de navegação*/
.menu {
  z-index: 1;
  margin-top: 1.5em;
  display: flex;
  gap: 2em;
  font-size: 2em;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 100px;
}

.menu a {
  text-decoration: none;
  color: var(--gray-ultra-light-color);
  font-weight: normal;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}

.menu a:hover {
  text-decoration: underline;
}

.menu a.active {
  font-weight: bold;
  text-decoration: underline;
}

/*Estiliza o footer*/
footer {
  height: 20rem;
  background-image: url(imagens/water.gif);
  margin-top: 1rem;
}

.footer-bg {
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
  height: 20em;
}